
body { padding-top: 70px; } /* To support Navbar fixed */


.hidden {
    display: none;
}

/* Video */
HTML.no-video .hide_if_no_html5_video {display: none;}
HTML.video    .hide_if_html5_video    {display: none;}


.avatar {
    height: 100%;
}

/* Modal Track */

#modalTrack .video_placeholder {
    float: right;
    width: 48%;
}

#modalTrack .lable_tag_data {display: none;}
#modalTrack .input_tag_data {
    width: 48%;
    height: 16em;
}

#modalTrack .lable_subtitle_data {clear: both; display: block;}
#modalTrack .input_subtitle_data {
    width: 100%;
    height: 16em;
}

#modalTrack #subtitle_accordian {
    margin-top: 1em;
}

#modalTrack input[type="submit"] {
    display: none;
}
