/* Core */
h1,h2,h3,h4,h5,h6 {font-weight: bold; text-transform: capitalize;}
.title {text-transform: capitalize;}


/* Admin */
.admin .ui-header          {background: #ffff50; border-color: #c0c060;}
.admin .ui-header .ui-btn,
.admin .ui-btn.admin,
.flash_messages .status_ok .ui-btn {background: #ffffc0; border-color: #c0c060;}
.admin .ui-header .ui-btn:hover,
.admin .ui-btn.admin:hover {background: #e0e0a0; border-color: #c0c060;}



/* Flash Message */
.flash_message p             {float: left;}
.flash_message .flash_remove {float: right;}
.flash_messages {
    color: #333333;
    font-weight: bold;
}
.flash_messages .status_ok {
    background: #ffffc0;
    border: 1px solid #c0c060;
}
.flash_messages .status_error {
    background:  #e89496;
    border: 1px solid #e83c40;
    /* background: linear-gradient(#e89496, #e87b7e) repeat scroll 0 0 #e85a5d; */
}
.flash_messages .status_error .ui-btn {
    background: #dd8866;
    border-color: #dd5533;
}

/* Priority messaging - status always on screen*/
#priority_countdown {
    position: absolute;
    right: 0em;
    font-size: 75%;
    font-weight: normal;
    background-color: #497BAE;
    color: white;
    padding: 0.25em;
}
.priority_mode .ui-header {background: #497BAE; border-color: #5e8ddb;}

/* Track */
HTML.no-video .hide_if_no_html5_video {display: none;}  /* unused? */
HTML.video    .hide_if_html5_video    {display: none;}

.video_placeholder {
    width : 100%;
}

/* for wide screens, have the video and lyrics side-by-side instead of making the video HUGE */
@media all and (min-width: 800px) {
    .video_placeholder {
        width: 50%;
        float: right;
        margin-left: 30px;
    }
    .add-to-queue-box {
        width: 45%;
    }
}

.track_title {
    text-align: center;
    font-size: 130%;
    text-transform: capitalize;
}

.track_code {
    text-align: center;
}
.track_code span {
    font-weight: bold;
}

.track_tags td, .track_tags th {
    text-transform: capitalize;
}
.track_tags th {
    font-weight: bold;
    padding-right: 1em;
}


/* Queue Drag&Drop reordering */
.queue-list {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.queue-list li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
    height: 5em;
}
.queue-list .ui-li-aside {width: 4em;} /* The 'aside' by default takes 50% of the space, for the time remaining we only need a small space */


/* Queue order obfuscation */
.queue-grid {margin: 15px -15px; margin-bottom: 0px;} /* jQuery Mobile has a margin of -15px on lists ... this is to put the content below in the corret place */
.queue-grid li {
    float: left;
    margin: -1px -1px -1px -1px;
    padding: 0;
    border: 0;
    
    overflow: hidden;
    position: relative;
    
    
}
.queue-grid li a     {text-decoration: none; text-align: left; display: block; margin: 0;}
.queue-grid li a h3  {color: #2F3E46; overflow: hidden;}
.queue-grid li a p   {color: #2F3E46; overflow: hidden; font-weight: normal;}
.queue-grid li a:nth-child(1) {padding-right: 2em;} 
.queue-grid li a:nth-child(2) {position: absolute; right:0.7em; top:0.75em;}


.queue-grid li img {display: none;}
.queue-grid .ui-li-aside {display: none;}
@media all and (min-width: 20em) {
    .queue-grid li {width: 50%;}
}
@media all and (min-width: 30em) {
    .queue-grid li {width: 33.333%;}
}
@media all and (min-width: 40em) {
    .queue-grid li {width: 25%;}
}
