html {
    font-family: sans-serif;
    padding: 0.5em;
}
table {
    font-size: 8px;
}
thead {
    display: table-header-group;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
td {
    vertical-align: top;
    text-transform:capitalize;
    padding-right: 1em;
}
th {
    font-weight: bold;
    background: #dddddd;
    text-transform:capitalize;
}
td.col_id {
    text-transform:none;
}
