html {
    font-family: sans-serif;
    padding: 0.5em;
}
table {
    font-size: 8px;
}
thead {
    display: table-header-group;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
td {
    vertical-align: top;
    text-transform:capitalize;
    padding-right: 1em;
}
th {
    font-weight: bold;
    background: #cccccc;
    text-transform:capitalize;
}
td.col_id_short {
    text-transform:none;
}
