.readme {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 3em;

    h1 {
        text-align: center;
        font-size: max(6vw, 2em);
        margin: 0.1em;
    }

    li {
        margin: 0.5em;
        font-size: max(2vw, 1em);
    }
}
