[app:main]
##sqlalchemy.url = sqlite:///%(here)s/karakara.db
##sqlalchemy.url = postgresql+pypostgresql://karakara:karakara@localhost/karakara
##session.type    = ext:database
##session.url     = postgresql+pypostgresql://karakara:karakara@localhost/karakara

pyramid.default_locale_name = karakara

karakara.server.mode = test

server.etag.enabled = True -> bool
