@keyframes slide-from-left {
    0% {
        transform: translateX(-200cqw);
    }
    100% {
        transform: translateX(0cqw);
    }
}
@keyframes slide-to-left {
    0% {
        transform: translateX(0cqw);
    }
    100% {
        transform: translateX(-200cqw);
    }
}

::view-transition-new(.slide-from-left) {
    animation-name: slide-from-left;
    animation-duration: 1s;
}
::view-transition-old(.slide-to-left) {
    animation-name: slide-to-left;
    animation-duration: 1s;
}

.theme-metalghosts .screen_preview {
    grid-template:
        "header header header header" min-content
        "   .     n1     n1     .   " 1fr
        "   .     n1     n1     .   " 1fr
        "   .     n2   video    .   " 1fr
        "   .     n3   video    .   " 1fr
        "   .     n4   video    .   " 1fr
        "   .     n5   n_more   .   " 1fr
        "footer footer footer footer" min-content
        / 1cqw 6fr 4fr 1cqw;

    /* main blocks */
    /* playlist detail */
    .item {
        border: var(--border);
        border-radius: var(--border-radius);
        background: var(--background);
        display: grid;
        grid-template:
            "performer title" 2fr
            "time      from " 1fr
            / 1fr 2fr;
        padding: 1cqh 1.5cqw;
        container-type: size;

        img {
            grid-area: thumb;
            display: none;
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .performer {
            grid-area: performer;
            align-self: end;
            font-size: 60cqh;
            .n {
                display: none;
            }
        }
        .time {
            grid-area: time;
            align-self: start;
            color: #777;
            font-size: 30cqh;
        }
        .title {
            grid-area: title;
            align-self: end;
            font-size: 60cqh;
        }
        .from {
            grid-area: from;
            align-self: start;
            color: #aaa;
            font-size: 30cqh;
        }
    }
    .n1 {
        grid-area: n1;
    }
    .n2 {
        grid-area: n2;
    }
    .n3 {
        grid-area: n3;
    }
    .n4 {
        grid-area: n4;
    }
    .n5 {
        grid-area: n5;
    }

    .n1 .time {
        color: #ff0;
        animation-name: glow_y;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .n2 .time {
        color: #aa0;
    }

    #playlist_obscured {
        display: none;
    }

    #n_more {
        padding: var(--padding);
        border: var(--border);
        border-radius: var(--border-radius);
        background: var(--background);
        grid-area: n_more;
        display: grid;
        color: #777;
        container-type: size;

        DIV {
            justify-self: center;
            align-self: center;
            font-size: 60cqh;
            SPAN {
                color: #aa0;
            }
        }
    }

    .videoScaler {
        grid-area: video;
        width: 100%;
        height: 100%;
        padding: var(--padding);
        border: var(--border);
        border-radius: var(--border-radius);
    }

    /*---------------------------------------------------------------------------*/
    /* 4:3 tweaks */
    /* Draw a line between 16/10 (widescreen) and 16/12 (4:3) - by default we */
    /* use the default layout, for display areas closer to 4:3 we override bits */
    /*---------------------------------------------------------------------------*/

    @media (max-aspect-ratio: 16/11) {
        // FIXME: tweak grid sizes
    }
}
