/.env
/.venv
/venv
**/.DS_Store

**/*.py[oc]
**/__pycache__
**/.pytest_cache
**/*.egg-info
**/_env

**/coverage

*.log
*.pid

**/*.cache
**/.parcel-cache
**/~
hash_cache.pickle

**/.swp

**/.idea
**/.vscode
**/.mypy_cache
