**/.env
**/.venv
**/venv
**/_env

**/.DS_Store
/media

**/*.py[oc]
**/__pycache__
**/.pytest_cache
**/*.egg-info

**/coverage

*.log
*.pid

**/*.cache
**/.parcel-cache
**/~
hash_cache.pickle

**/.swp

**/.idea
**/.vscode
**/.mypy_cache
