openapi: 3.1.1
info:
  title: KaraKara Queue API
  version: 0.0.0
  license:
    name: GPL-3.0-or-later
    url: https://opensource.org/licenses/GPL-3.0
  description: |
    API for managing karaoke queues, tracks, settings, and playback commands.

    The API is organized around rooms - each room has its own queue, settings, and user sessions.

servers:
  - url: https://karakara.uk
    description: Live service

components:
  schemas:
    Track:
      type: object
      required:
        - id
        - duration
        - tags
        - attachments
      properties:
        id:
          type: string
          description: Unique track identifier
        duration:
          type: number
          format: float
          description: Track duration in seconds
        tags:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Key-value tags for the track
        attachments:
          type: object
          required:
            - video
            - image
            - subtitle
          properties:
            video:
              type: array
              items:
                $ref: "#/components/schemas/Attachment"
            image:
              type: array
              items:
                $ref: "#/components/schemas/Attachment"
            subtitle:
              type: array
              items:
                $ref: "#/components/schemas/Attachment"

    Attachment:
      type: object
      required:
        - variant
        - mime
        - path
      properties:
        variant:
          type: string
          description: Attachment variant name
        mime:
          type: string
          description: MIME type of the attachment
        path:
          type: string
          description: Path to the attachment file

    Subtitle:
      type: object
      required:
        - start
        - end
        - text
        - top
      properties:
        start:
          type: number
          format: float
          description: Start time in seconds
        end:
          type: number
          format: float
          description: End time in seconds
        text:
          type: string
          description: Subtitle text content
        top:
          type: boolean
          description: Whether subtitle appears at top of screen
          default: false

    QueueItem:
      type: object
      required:
        - id
        - track_id
        - start_time
        - track_duration
        - session_id
        - performer_name
        - video_variant
        - subtitle_variant
      properties:
        id:
          type: integer
          description: Unique queue item identifier
        track_id:
          type: string
          description: ID of the track in the queue
        track_duration:
          type: number
          format: float
          description: Track duration in seconds
        session_id:
          type: string
          description: Session ID of the user who added this item
        performer_name:
          type: string
          description: Name of the performer
        start_time:
          type: ["number", "null"]
          format: float
          description: Unix timestamp when the track starts playing (null if not yet scheduled)
        video_variant:
          type: string
          description: Selected video variant
        subtitle_variant:
          type: string
          description: Selected subtitle variant

    Settings:
      type: object
      properties:
        title:
          title: Room title
          type: string
          default: "KaraKara"
          minLength: 1
          maxLength: 16
        track_space:
          title: Gap between tracks (seconds)
          type: number
          format: float
          default: 15
          minimum: 0
          maximum: 60
        track_query:
          title: Tracks query
          description: Which tracks to include, eg `category=anime or (category=tv and year<2010)`
          type: ["string", "null"]
          default: null
        preview_volume:
          title: Preview playback volume
          type: number
          format: float
          minimum: 0
          maximum: 1
          multipleOf: 0.01
          default: 0.1
        coming_soon_track_count:
          title: Number of upcoming tracks to show publicly
          type: integer
          minimum: 1
          default: 5
          maximum: 9
        validation_event_start_datetime:
          title: Event start time
          type: ["string", "null"]
          format: date-time
          default: null
        validation_event_end_datetime:
          title: Event end time
          type: ["string", "null"]
          format: date-time
          default: null
        auto_reorder_queue:
          title: Auto-Reorder Queue
          type: boolean
          default: false
