openapi: 3.1.1
info:
  title: KaraKara Queue API
  version: 0.0.0
  license:
    name: GPL-3.0-or-later
    url: https://opensource.org/licenses/GPL-3.0
  description: |
    API for managing karaoke queues, tracks, settings, and playback commands.

    The API is organized around rooms - each room has its own queue, settings, and user sessions.

servers:
  - url: https://karakara.uk
    description: Live service

components:
  schemas:
    Track:
      type: object
      required:
        - id
        - duration
        - tags
        - attachments
      properties:
        id:
          type: string
          description: Unique track identifier
        duration:
          type: number
          format: float
          description: Track duration in seconds
        tags:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Key-value tags for the track
        attachments:
          type: object
          required:
            - video
            - image
            - subtitle
          properties:
            video:
              type: array
              items:
                $ref: "#/components/schemas/Attachment"
            image:
              type: array
              items:
                $ref: "#/components/schemas/Attachment"
            subtitle:
              type: array
              items:
                $ref: "#/components/schemas/Attachment"
        sources:
          type: array
          items:
            type: string
          description: List of source files for the track

    Attachment:
      type: object
      required:
        - variant
        - mime
        - path
      properties:
        variant:
          type: string
          description: Attachment variant name
        mime:
          type: string
          description: MIME type of the attachment
        path:
          type: string
          description: Path to the attachment file

    Subtitle:
      type: object
      required:
        - start
        - end
        - text
        - top
      properties:
        start:
          type: number
          format: float
          description: Start time in seconds
        end:
          type: number
          format: float
          description: End time in seconds
        text:
          type: string
          description: Subtitle text content
        top:
          type: boolean
          description: Whether subtitle appears at top of screen
          default: false

    QueueItem:
      type: object
      required:
        - id
        - track_id
        - start_time
        - track_duration
        - session_id
        - performer_name
        - video_variant
        - subtitle_variant
      properties:
        id:
          type: integer
          description: Unique queue item identifier
        track_id:
          type: string
          description: ID of the track in the queue
        track_duration:
          type: number
          format: float
          description: Track duration in seconds
        session_id:
          type: string
          description: Session ID of the user who added this item
        performer_name:
          type: string
          description: Name of the performer
        start_time:
          type: ["number", "null"]
          format: float
          description: Unix timestamp when the track starts playing (null if not yet scheduled)
        video_variant:
          type: string
          description: Selected video variant
        subtitle_variant:
          type: string
          description: Selected subtitle variant

    Settings:
      type: object
      required:
        - title
        - track_space
        - hidden_tags
        - forced_tags
        - preview_volume
        - coming_soon_track_count
        - validation_event_start_datetime
        - validation_event_end_datetime
        - auto_reorder_queue
      properties:
        title:
          title: Room title
          description: What to show on the splash screen while waiting for people to queue some tracks
          type: string
          default: "KaraKara"
          minLength: 1
          maxLength: 16
        track_space:
          title: Gap between tracks (seconds)
          description: The time between finishing one track and auto-playing the next, to give people time to get on and off stage
          type: number
          format: float
          default: 15
          minimum: 0
          maximum: 60
        hidden_tags:
          title: Tags to hide from display
          description: Tracks with these tags won't be visible for users to select, unless there are other tags (eg if a track is tagged both "anime" and "cartoon", hiding the "anime" tag will still show the track in the "cartoon" category)
          type: array
          items:
            type: string
          default: []
        forced_tags:
          title: Tags that must be present
          description: Only tracks with these tags will be visible for the users to select
          type: array
          items:
            type: string
          default: []
        preview_volume:
          title: Preview volume
          description: The volume of the screen in-between tracks
          type: number
          format: float
          minimum: 0
          maximum: 1
          multipleOf: 0.01
          default: 0.1
        coming_soon_track_count:
          title: '"Coming soon" track count'
          description: Show the exact order for the next N tracks, and obfuscate the rest of the queue to give admins more leeway to re-order the queue
          type: integer
          minimum: 0
          default: 5
          maximum: 9
        validation_event_start_datetime:
          title: Event start time
          description: Prevent users from adding tracks until this time
          type: ["string", "null"]
          format: date-time
          default: null
        validation_event_end_datetime:
          title: Event end time
          description: Prevent users from adding tracks after this time
          type: ["string", "null"]
          format: date-time
          default: null
        auto_reorder_queue:
          title: Auto-Reorder Queue
          description: Balance the queue by giving priority to first-time singers
          type: boolean
          default: false

    LintError:
      type: object
      required:
        - track_id
        - message
      properties:
        track_id:
          type: string
          description: ID of the track with an error
        file:
          type: [string, "null"]
          description: File path related to the error
        message:
          type: string
          description: Error message

    User:
      type: object
      required:
        - is_admin
      properties:
        is_admin:
          type: boolean
          description: Whether the user has admin privileges
          default: false
