[loggers]
keys=root
[handlers]
keys=console,logfile
[formatters]
keys=generic,message_only

# Loggers ----------------------------------------------------------------------

[logger_root]
level = INFO
handlers = logfile

# Handlers ---------------------------------------------------------------------

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[handler_logfile]
class = FileHandler
args = ('processmedia2.log',)
level = NOTSET
formatter = generic

# Formatters -------------------------------------------------------------------

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

[formatter_message_only]
format = %(message)s
