MAIN.queue ARTICLE {
    .me {
        background: var(--notification-warning);
    }
    UL LI {
        SPAN.lyrics {
            font-weight: normal;
        }
        SPAN.queue_info {
            .performer {
                font-weight: normal;
            }
        }
    }

    .coming_later {
        text-align: center;
        SPAN::after {
            content: ", ";
        }
        SPAN:last-child::after {
            content: "";
        }
    }
}
