.theme-metalghosts {
    --gradient-dark: #020f1f;
    --gradient-mid: #074d5e;
    --gradient-light: #29edf2;

    --border: 1px solid var(--gradient-light);
    --border-radius: 2cqh;
    --padding: 2cqh 2cqw;
    --background: radial-gradient(
        rgb(from var(--gradient-mid) r g b / 75%),
        rgb(from var(--gradient-dark) r g b / 95%)
    );
}

@font-face {
    font-family: metalghosts;
    src: url("metalghosts/Xolonium-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

.theme-metalghosts {
    /*---------------------------------------------------------------------------*/
    /* Common */
    /*---------------------------------------------------------------------------*/

    @keyframes glow_y {
        0% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    // Things common to all screens
    SECTION {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        gap: 2vh;
        overflow: hidden;
        border-style: solid;
        border-color: black;
        color: white;

        font-family: metalghosts, sans-serif;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;

        background:
            url("metalghosts/background.png"), url("metalghosts/perlin.jpg");
        background-size:
            25cqh,
            100% 200%;

        H1,
        H2,
        OL,
        UL,
        P {
            margin: 0;
            padding: 0;
        }

        STRONG {
            color: #ff7;
            font-weight: normal;
        }

        #join_info,
        #event_info {
            background: var(--background);
            text-align: center;
            color: #bbb;
            container-type: size;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            SPAN {
                font-size: 4cqw;
            }
            z-index: 100;
            height: 8cqw;
        }
        #join_info {
            grid-area: header;
            border-bottom: var(--border);
        }
        #event_info {
            grid-area: footer;
            border-top: var(--border);
        }
    }
}
