/*---------------------------------------------------------------------------*/
/* Base Elements */
/*---------------------------------------------------------------------------*/

html {
	overflow: hidden;
}

h1, h2, h3, h4, h5 {
	padding:0;
	margin:0;
}
th {text-align:left;}

body {
	background: #eee;
	font-family: Arial, Helvetica;
	margin: 0;
	padding: 0;
}
a {
	color: #fff;
	text-decoration: none;
}


/*---------------------------------------------------------------------------*/
/* Animations */
/*---------------------------------------------------------------------------*/

@-webkit-keyframes pulse {0%{opacity: 0.5;}100%{opacity: 1;}}
@-webkit-keyframes marquee {0%{}100%{}}
@-webkit-keyframes fade_in {
	  0% {opacity: 0; bottom: -300px;}
	100% {opacity: 1; bottom: 0;}
}
@-webkit-keyframes fade_out {
	  0% {opacity: 1; bottom: 0;}
	100% {opacity: 0; bottom: -300px;}
}


/*---------------------------------------------------------------------------*/
/* Notification Area */
/*---------------------------------------------------------------------------*/

.notification_area {
	position: absolute;
	right:0;
	padding: 6px;
}
.notification_area img {
	background-color: white;
	padding: 6px;
	border-radius: 6px;
	border: 2px solid red;
}
#icon_disconnected                         {display: none;}
.websocket_disconnected #icon_disconnected {display: block;}
#icon_attention                            {display: none;}
.browser_unsupported    #icon_attention    {display: block;}


/*---------------------------------------------------------------------------*/
/* Help Area */
/*---------------------------------------------------------------------------*/

.show_help .help_area {
	/*display: block;*/
	opacity: 1;
	-webkit-animation-name: fade_in;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
}
.help_area {
	/*display: none;*/
	opacity:0;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: white;
	padding: 6px;
	margin: 6px;
	border-radius: 6px;
	
	-webkit-animation-name: fade_out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
}
.help_area table th,
.help_area table td {
	padding-left: 1em;
}

/* Control Buttons */

button {
	/*text and spacing*/
	color:#333;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	padding: 0 1.5em;
	margin: 0.5em 0.1em 0.5em 0.1em;
	display: inline-block;
	white-space: nowrap;
	
	/*backgrounds*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	
	/*border*/
	border: 1px solid #777;
	-webkit-border-radius: .2em;
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

button:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}

button:before {
	float: left;
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-border-radius: .15em 0 0 .15em;
}

#play:before {content: "\25B6";}
#skip:before {content: "\279C";}



/*---------------------------------------------------------------------------*/
/* Fullscreen Management */
/*---------------------------------------------------------------------------*/

.screen               {display:  none;}
.screen.screen_active {display: block;}


/*---------------------------------------------------------------------------*/
/* Fullscreen Video */
/*---------------------------------------------------------------------------*/

.screen.screen_video {
	background-color: black;
}
.screen_video video {
	width: 100%;
	height: 100%;
}
.screen_video #seekbar {
	position: absolute;
	width: 100%;
	bottom: 0;
}
input[type="range"]{
	-webkit-appearance:none !important;
	height: 0;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance:none !important;
	background-color: yellow;
	height:10px;
	width :10px;
	border: 1px solid black;
}


/*---------------------------------------------------------------------------*/
/* Title Screen Animation */
/*---------------------------------------------------------------------------*/

.screen_title {
	overflow: hidden;
}

.screen_title img {
	position: absolute;
	border: 1px solid black;
}

.screen_title .info {
	position: fixed;
	/*-webkit-transform: rotate(-0.2rad);*/
	top: 20%;
	left: 25%;
	width: 50%;
	z-index: 100;
}
.screen_title .info > div {
	background-color: white;
	border-radius: 8px;
	padding: 2em;
	font-size: 150%;
	opacity: 0.9;
}

.screen_title .info h1 {
	opacity: 1.0;
	text-align: center;
}


/*---------------------------------------------------------------------------*/
/* Preview Video and Queue */
/*---------------------------------------------------------------------------*/


.screen_preview video {
	width: 100%;
}

#middle {
	height: 70%;
}

#playerHolder {
	float: left;
	width: 60%;
}

#playerHolder h2 {
	color: #fff;
	text-shadow: 0 0 2px #1ff, 0 0 15px #6ef;
	position: relative;
	top: -10px;
	width: 78%;
	text-align: center;
}

#videoPreviewHolder {
	position: relative;
	top: -65px;
	z-index: -1;
	background-color: #000;
	border-radius: 8px;
	padding: 10px;
	width: 78%;
}


#playlist ol {
	list-style-position: inside;
	font-size: 18px;
}

#playlist ol li {
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	color: black;
	background-color: #777;
	border: 1px solid #777;
	border-radius: 8px;
	
}

#playlist ol li p {
	margin: -1%;
}

#playlist li:nth-child(1)  {
	background-color: #ccc;
	border: 1px solid #ccc;
	-webkit-animation-name: pulse;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 0.75s;
}
#playlist li:nth-child(1):after {
	font-weight: bold;
	float: right;
	position: relative;
	top: -15px;
	left: -5px;
	color: #c12;
	text-shadow: 0 0 4px #ff1, 0 0 30px #fe6;
	content: "Ready to Start";
}

/* song next */
#playlist li:nth-child(2) {background-color: #777;}
#playlist li:nth-child(2):after {
	font-weight: bold;
	content: "Up Next";
	float: right;
	position: relative;
	top: -15px;
	left: -5px;
	color: #6b3;
}

#playlist .title:before{content: "Title: "; font-weight: bold;}
#playlist .from:before{content: "From: "; font-weight: bold;}
#playlist .performer:before{content: "Performer Name: "; font-weight: bold;}
#playlist .time:before{content: "Time before song: "; font-weight: bold;}



#playlistHolder {
	float: left;
	width: 38%;
	padding: 0px;
	border: 1px solid #999;
	border-radius: 8px;
	margin-top: 5px;
	background-color: #999;
}

#marqueeHolder {
	height: 20%;
	position: absolute;
	bottom: -3%;
	
}

#marqueeHolder h2 {
	margin-top: 1.75%;
	margin-bottom: 0;
	text-shadow: 0 0 2px #1ff, 0 0 15px #6ef;
	color: #fff;
	padding-left: 35%;
	background-color: #000;
	border-radius: 8px 8px 0px 0px;
	
	
}

#marqueeHolder ul {
	margin-top: 0;
	padding-top: 0;
}

#marqueeHolder ul li {
	float: left;
	border: 1px solid black;
	border-radius: 8px;
	padding: 1px 5px 1px 5px;
	margin: 1px 5px 1px 5px;
}

#playlist_obscured {
	margin-top: 0.25%;
	white-space: nowrap;
	overflow-x: hidden;
}