HTML {
	background: #080;
}
H1, H2 {
	text-align: center;
	margin-bottom: 0px;
}
TD {
	vertical-align: top;
	padding: 0px;
}
TD BUTTON {
	width: 100%;
	height: 100%;
}

.app {
	width: 640px;
	margin: auto;
}

.player, .playlist {
	background: #FFA;
	border-radius: 8px;
	width: 320px;
}

/* song current */
#playlist li:nth-child(1)  { 
	color: red;
}
#playlist li:nth-child(1):after {
	content: " - Ready to Start";
}

/* song next */
#playlist li:nth-child(2) {
	color: orange;
}
#playlist li:nth-child(2):after {
	content: " - Up Next";
}

#playlist_obscured li {
	display: inline-block;
}