[project]
name = "processmedia3"
version = "0.0.0"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
	"tqdm ~= 4.67",
	"pillow ~= 10.4",
	"dateparser ~= 1.2",
	"Brotli ~= 1.1",
	"requests ~= 2.32",
]

[project.optional-dependencies]
test = [
	"mypy ~= 1.15",
	"pytest ~= 8.4",
	"types-tqdm ~= 4.67",
	"types-Pillow ~= 10.2",
	"types-dateparser ~= 1.2",
	"types-requests ~= 2.32",
]

[tool.mypy]
[[tool.mypy.overrides]]
module = "mypy-tqdm.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "brotli.*"
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "--doctest-modules"
filterwarnings = [
	"ignore:Parsing dates involving a day of month without a year specified is ambiguious",
]

[tool.black]
line-length = 120
