@mixin notification-colors($color-var) {
    background-color: var($color-var);
    border: 1px solid color-mix(in srgb, var($color-var) 60%, var(--page-fg));
}

.notification {
    position: absolute;
    left: 2em;
    right: 2em;
    top: 4em;
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: 1em;
    // For some reason even though the notification appears over
    // the top of the video, clicks act as if the video is on top?
    // z-index appears to fix it...
    z-index: 2;
    SPAN {
        flex: 1 1 auto;
    }
    svg {
        padding-left: 1em;
    }
    &:global(.ok) {
        @include notification-colors(--notification-ok);
    }
    &:global(.warning) {
        @include notification-colors(--notification-warning);
    }
    &:global(.error) {
        @include notification-colors(--notification-error);
    }
}
