/*---------------------------------------------------------------------------*/
/* Base Elements */
/*---------------------------------------------------------------------------*/

html {
	overflow: hidden;
}

h1, h2, h3, h4, h5, ul, ol, li, p {
	padding:0;
	margin:0;
}
th {text-align:left;}

body {
	background: #eee;
	font-family: Arial, Helvetica;
	margin: 0;
	padding: 0;
}
a {
	color: #fff;
	text-decoration: none;
}


/*---------------------------------------------------------------------------*/
/* Animations */
/*---------------------------------------------------------------------------*/

@-webkit-keyframes pulse {0%{opacity: 0.5;}100%{opacity: 1;}}
@-webkit-keyframes marquee {0%{}100%{}}
@-webkit-keyframes fade_in {
	  0% {opacity: 0; bottom: -300px;}
	100% {opacity: 1; bottom: 0;}
}
@-webkit-keyframes fade_out {
	  0% {opacity: 1; bottom: 0;}
	100% {opacity: 0; bottom: -300px;}
}


/*---------------------------------------------------------------------------*/
/* Notification Area */
/*---------------------------------------------------------------------------*/

.notification_area {
	position: absolute;
	top: 0;
	right:0;
	padding: 6px;
}
.notification_area img,
.notification_area svg {
	background-color: white;
	padding: 6px;
	border-radius: 6px;
	border: 2px solid red;
}
#icon_disconnected                         {display: none;}
.websocket_disconnected #icon_disconnected {display: block;}
#icon_attention                            {display: none;}
.browser_unsupported    #icon_attention    {display: block;}

/*---------------------------------------------------------------------------*/
/* Join Info - on screen_preview */
/*---------------------------------------------------------------------------*/

.join_info {
	position: absolute;
	top: 0;
	height: 5vh;
	font-size: 4vh;
	display: block;
	align-items: center;
	text-align: center;
	background-color: #ccc;
	border: 1px solid black;
	z-index: 5;
	padding-left: 4vh;
	padding-right: 4vh;
}


/*---------------------------------------------------------------------------*/
/* Fullscreen Management */
/*---------------------------------------------------------------------------*/

.screen               {display:  none;}
.screen.screen_active {display: block;}


/*---------------------------------------------------------------------------*/
/* Fullscreen Video */
/*---------------------------------------------------------------------------*/

.screen.screen_video {
	background-color: black;
}
.screen_video video {
	width: 100%;
	height: 100%;
}
.screen_video #seekbar {
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* HACK - Rework of styling for Firefox for an event */
/*input[type=range],*/
input[type=range]::-moz-range-track{
	-webkit-appearance:none !important;
	height: 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
/*input[type=range]::-webkit-slider-thumb,*/
input[type=range]::-moz-range-thumb {
	/* -webkit-appearance:none !important; */
	background-color: yellow;
	height:12px;
	width :12px;
	border: 1px solid black;
	border-radius: 0;
}

