$DARK: #020F1F;
$MID: #074D5E;
$LIGHT: #29EDF2;

@font-face {
	font-family: metalghosts;
	src: url('metalghosts/Xolonium-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
@mixin radial {
	background: radial-gradient(rgba($MID, 0.75), rgba($DARK, 0.95));
}
@mixin border {
	@include radial;
	padding: 2vh 2vw;
	border: 1px solid $LIGHT;
	border-radius: 2vh;
}
@mixin miniborder {
	@include radial;
	padding: 1vh 1vw;
	border: 1px solid $LIGHT;
	border-radius: 2vh 0 2vh 0;
}
@mixin header {
	grid-area: header;
	border-bottom: 1px solid $LIGHT;
}
@mixin footer {
	grid-area: footer;
	border-top: 1px solid $LIGHT;
}

* {
	// before animation, be at 0%, after
	// animation, be at 100%
	animation-fill-mode: both;
}

::cue {
	font-family: metalghosts, sans-serif;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.theme-metalghosts,
.theme-metalghosts-lite {
	color: white;
	font-family: metalghosts, sans-serif;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;


	/*---------------------------------------------------------------------------*/
	/* Background */
	/*---------------------------------------------------------------------------*/

	background:
		url('metalghosts/background.png'),
		url('metalghosts/perlin.jpg');
	background-size: 45vh, 100% 200%;

	/*---------------------------------------------------------------------------*/
	/* Common */
	/*---------------------------------------------------------------------------*/

	@keyframes glow_y {
		0% {opacity: 0.5;}
		100% {opacity: 1.0;}
	}

	H1, H2, OL, UL, P {
		margin: 0;
		padding: 0;
	}

	STRONG {
		color: #FF7;
		font-weight: normal;
	}

	#error {
		color: red;
		z-index: 9999;
		position: absolute;
		text-align: center;
		background: black;
		border-radius: .5em;
		left: 1vw;
		right: 1vw;
		top: 1vh;
	}

	SECTION {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: grid;
		gap: 2vh;
		overflow: hidden;

		#join_info, #end_time {
			@include radial;
			text-align: center;
			color: #BBB;
			font-size: 4vh;
			padding: 2vh 2vw;
			z-index: 100;
		}
		#join_info {
			@include header;
		}
		#end_time {
			@include footer;
		}
	}

	/*---------------------------------------------------------------------------*/
	/* Title Screen Animation */
	/*---------------------------------------------------------------------------*/

	.screen_title {
		grid-template:
		  "header" 10vh
		  "title " 1fr
		  "footer" 10vh
		  / 1fr;

		H1 {
			grid-area: title;
			justify-self: center;
			align-self: center;
			@include border;
			z-index: 100;
			font-size: 10vh;
			text-align: center;
			padding: 2vh 4vw;
		}

		#splash {
			position: absolute;
			// avoid using any zero-values in transform, because scss will
			// optimise that into matrix() which won't animate...
			@keyframes raincw {
				0% {transform: translateY(-1vh) rotate(-180deg);}
				100% {transform: translateY(120vh) rotate(180deg);}
			}
			@keyframes rainccw {
				0% {transform: translateY(-1vh) rotate(180deg);}
				100% {transform: translateY(120vh) rotate(-180deg);}
			}
			IMG {
				position: absolute;
				border: 1px solid black;
				top: -20vh;
				max-width: 20vw;
				max-height: 20vh;
				height: auto;
				width: auto;
				animation: raincw 10s linear infinite;
			}
			IMG:nth-child(odd) {
				animation: rainccw 10s linear infinite;
			}
		}
	}

	/*---------------------------------------------------------------------------*/
	/* Playlist */
	/*---------------------------------------------------------------------------*/

	.screen_preview {
		grid-template:
		  "header header header header" 10vh
		  "   .     n1     n1     .   " 1fr
		  "   .     n1     n1     .   " 1fr
		  "   .     n2   video    .   " 1fr
		  "   .     n3   video    .   " 1fr
		  "   .     n4   video    .   " 1fr
		  "   .     n5   n_more   .   " 1fr
		  "footer footer footer footer" 10vh
		  / 1vw    6fr     4fr    1vw;

		font-size: 3vh;

		/* main blocks */
		@keyframes slideright {
			0% {transform: translateX(-200vw);}
			100% {transform: translateX(0vw);}
		}
		/* playlist detail */
		.item {
			@include border;
			display: grid;
			grid-template:
			  "performer title" 2fr
			  "time      from " 1fr
			  / 1fr      2fr;
			animation-name: slideright;
			animation-duration: 1s;
			padding: 1vh 1.5vw;

			img {
				grid-area: thumb;
				display: none;
			}
			p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.performer {
				grid-area: performer;
				align-self: end;
				font-size: 1.8em;
			}
			.time {
				grid-area: time;
				align-self: start;
				color: #777;
				font-size: 0.9em;
			}
			.title {
				grid-area: title;
				align-self: end;
				font-size: 1.8em;
			}
			.from {
				grid-area: from;
				align-self: start;
				color: #aaa;
				font-size: 0.9em;
			}
		}
		.n1 {animation-delay: 0.0s; grid-area: n1; font-size: 2.3em;}
		.n2 {animation-delay: 0.2s; grid-area: n2;}
		.n3 {animation-delay: 0.3s; grid-area: n3;}
		.n4 {animation-delay: 0.4s; grid-area: n4;}
		.n5 {animation-delay: 0.5s; grid-area: n5;}
		.n6 {animation-delay: 0.6s; grid-area: n6;}
		.n7 {animation-delay: 0.7s; grid-area: n7;}
		.n8 {animation-delay: 0.8s; grid-area: n8;}
		.n9 {animation-delay: 0.9s; grid-area: n9;}

		.n1 .time {
			color: #ff0;
			animation-name: glow_y;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		.n2 .time {
			color: #aa0;
		}

		@keyframes slideleft {
			0% {transform: translateX(200vw);}
			100% {transform: translateX(0vw);}
		}
		#playlist_obscured {
			display: none;
		}

		#n_more {
			@include border;
			grid-area: n_more;
			display: grid;
			animation-name: slideleft;
			animation-duration: 1s;
			animation-delay: 0.6s;
			color: #777;
			font-size: 1.8em;

			DIV {
				justify-self: center;
				align-self: center;
				SPAN {
					color: #aa0;
				}	
			}
		}

		VIDEO {
			grid-area: video;
			@include border;
			animation-name: slideleft;
			animation-duration: 1s;
			animation-delay: 0.0s;
			background: black;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	
		/*---------------------------------------------------------------------------*/
		/* Small-screen tweaks */
		/* Draw a line between 16/10 (widescreen) and 16/12 (4:3) - by default we */
		/* use the default layout, for display areas closer to 4:3 we override bits */
		/*---------------------------------------------------------------------------*/

		@media (max-aspect-ratio: 16/11) {
			// FIXME: tweak grid sizes
		}
	}

	/*---------------------------------------------------------------------------*/
	/* Video */
	/*---------------------------------------------------------------------------*/

	.screen_video {
		grid-template:
		  "header" 10vh
		  "video " 1fr
		  "footer" 10vh
		  / 1fr;

		background: black;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		@keyframes fadeout {
			0% {opacity: 1.0;}
			100% {opacity: 0.25;}
		}
		#join_info, #end_time {
			animation-name: fadeout;
			animation-duration: 5s;
		}
		VIDEO {
			width: 100%;
			height: 100%;
		}

		.pimp {
			max-width: 50%;
			position: absolute;
			animation-iteration-count: 2;
			animation-direction: alternate;
			animation-duration: 5s;
			text-shadow:
				-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000,
				0 0 5vh #000;
		}
		@keyframes popright {
			0% {transform: translate(200vw);}
			20% {transform: translate(200vw);}
			40% {transform: translate(0vw);}
			100% {transform: translate(0vw);}
		}
		#pimpkk {
			font-size: 10vh;
			top: 15vh;
			right: 5vw;
			animation-name: popright;
		}
		#pimpcontributor {
			display: none;
		}

		@keyframes popleft {
			0% {transform: translate(-200vw);}
			20% {transform: translate(-200vw);}
			40% {transform: translate(0vw);}
			100% {transform: translate(0vw);}
		}
		#pimpsong {
			font-size: 5vh;
			top: 15vh;
			left: 5vw;
			animation-name: popleft;
		}
	}

	/*---------------------------------------------------------------------------*/
	/* Podium Mode */
	/*---------------------------------------------------------------------------*/

	.screen_podium {
		grid-template:
		  "header header header" 20vh
		  "  .    video    .   " 56vh
		  "footer footer footer" 20vh
		  / 1vw    1fr      1vw;

		text-align: center;

		H1 {
			@include header;
			@include radial;
			padding: 2vh 2vw;
			font-size: 6vh;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		VIDEO {
			grid-area: video;
			@include border;
			height: 100%;
			width: 100%;
			background: black;
			object-fit: contain;
		}

		DIV.startButton,
		DIV.progressBar {
			@include footer;
			@include radial;
			font-size: 7vh;
			padding-top: 3vh;
			background: linear-gradient(
				90deg,
				rgba($DARK, 0.5) 0,
				$LIGHT 50%,
				rgba($DARK, 0.5) 50%
			);
			background-size: 200% 100%;
			// NOTE: keep the time here in sync with the frequency of state updates
			transition: background-position 1s linear;
			SMALL {
				font-size: 3vh;
				display: block;
				padding-bottom: 1vh;
			}
		}
		DIV.startButton {
			SPAN {
				color: #ff0;
				animation-name: glow_y;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-timing-function: linear;
			}
		}
	}
}

.theme-metalghosts-lite {
	// disable background animation
	animation: none;
	.screen_title IMG {
		// disable title screen thumbnail rain
		animation: none;
	}
}
