$DARK: #020F1F;
$MID: #074D5E;
$LIGHT: #29EDF2;

@font-face {
	font-family: metalghosts;
	src: url('metalghosts/Xolonium-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
@mixin border {
	padding: 2vh 2vw;
	background: radial-gradient(rgba($MID, 0.75), rgba($DARK, 0.95));
	border: 1px solid $LIGHT;
	border-radius: 2vh;
}
@mixin miniborder {
	padding: 1vh 1vw;
	background: radial-gradient(rgba($MID, 0.75), rgba($DARK, 0.95));
	border: 1px solid $LIGHT;
	border-radius: 2vh 0 2vh 0;
}

* {
	// before animation, be at 0%, after
	// animation, be at 100%
	animation-fill-mode: both;
}

::cue {
	font-family: metalghosts, sans-serif;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.theme-metalghosts,
.theme-metalghosts-lite {
	color: white;
	font-family: metalghosts, sans-serif;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;


	/*---------------------------------------------------------------------------*/
	/* Background */
	/*---------------------------------------------------------------------------*/

	background:
		url('metalghosts/background.png'),
		url('metalghosts/perlin.jpg');
	background-size: 45vh, 100% 200%;

	/*
	// This destroys weak CPUs, and eats up laptop
	// battery even on beefy CPUs...
	animation: bgscroll 10s linear infinite;
	@keyframes bgscroll {
		0% {background-position: 0 0, 0 0;}
		100% {background-position: 0 0, 0 100%;}
	}
	*/

	/*---------------------------------------------------------------------------*/
	/* Common */
	/*---------------------------------------------------------------------------*/

	H1, H2, OL, UL, P {
		margin: 0;
		padding: 0;
	}

	STRONG {
		color: #FF7;
		font-weight: normal;
	}

	// shared between title and playlist screens
	@keyframes slideup {
		0% {transform: translateY(200vh);}
		100% {transform: translateY(0vh);}
	}
	#join_info {
		position: absolute;
		left: 10vw;
		right: 10vw;
		text-align: center;
		@include border;
		color: #BBB;
		font-size: 4vh;
		bottom: 1vh;
		animation-delay: 1s;
		animation-name: slideup;
		animation-duration: 2s;
	}

	@keyframes glow_y {
		0% {opacity: 0.5;}
		100% {opacity: 1.0;}
	}

	#error {
		color: red;
		z-index: 9999;
		position: absolute;
		width: 100%;
		text-align: center;
	}


	/*---------------------------------------------------------------------------*/
	/* Title Screen Animation */
	/*---------------------------------------------------------------------------*/

	.screen_title {
		overflow: hidden;
		img {
			position: absolute;
			border: 1px solid black;
		}

		H1 {
			@include border;
			position: fixed;
			top: 35vh;
			left: 25vw;
			width: 50vw;
			z-index: 100;
			font-size: 10vh;
			text-align: center;
		}

		// avoid using any zero-values in transform, because scss will
		// optimise that into matrix() which won't animate...
		@keyframes raincw {
			0% {transform: translateY(-1vh) rotate(-180deg);}
			100% {transform: translateY(120vh) rotate(180deg);}
		}
		@keyframes rainccw {
			0% {transform: translateY(-1vh) rotate(-180deg);}
			100% {transform: translateY(120vh) rotate(-180deg);}
		}
		IMG {
			top: -20vh;
			max-width: 20vw;
			max-height: 20vh;
			height: auto;
			width: auto;
			animation: raincw 10s linear infinite;
		}
		IMG:nth-child(odd) {animation: rainccw 10s linear infinite;}
	}


	/*---------------------------------------------------------------------------*/
	/* Playlist */
	/*---------------------------------------------------------------------------*/

	.screen_preview {
		font-size: 3vh;

		/* main blocks */
		@keyframes slideright {
			0% {transform: translateX(-200vw);}
			100% {transform: translateX(0vw);}
		}
		#playlist {
			position: absolute;
			top: 2vh;
			left: 2vw;
			right: 2vw;

			/* playlist detail */
			li {
				position: relative;
				list-style-type: none;
				margin-bottom: 2vh;
				@include border;
				height: 12vh;
				width: 57vw;
				animation-name: slideright;
				animation-duration: 1s;
				left: 0vw;

				img {display: none;}
				p {
					position: absolute;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.performer {
					left: 1vw;
					top: 1vh;
					width: calc(35% - 1vw);
					font-size: 1.8em;
					text-overflow: clip;
				}
				.time {
					left: 1vw;
					bottom: 1vh;
					width: calc(35% - 1vw);
					color: #777;
					font-size: 0.9em;
				}
				.title {
					top: 1vh;
					right: 1vw;
					width: calc(65% - 2vw);
					font-size: 1.8em;
				}
				.from {
					bottom: 1vh;
					right: 1vh;
					width: calc(65% - 2vw);
					color: #aaa;
					font-size: 0.9em;
				}
			}
			li:nth-child(1) {animation-delay: 0.0s;}
			li:nth-child(2) {animation-delay: 0.2s;}
			li:nth-child(3) {animation-delay: 0.3s;}
			li:nth-child(4) {animation-delay: 0.4s;}
			li:nth-child(5) {animation-delay: 0.5s;}
			li:nth-child(6) {animation-delay: 0.6s;}
			li:nth-child(7) {animation-delay: 0.7s;}
			li:nth-child(8) {animation-delay: 0.8s;}
			li:nth-child(9) {animation-delay: 0.9s;}

			li:nth-child(1) {
				width: auto;
				height: 22vh;
				font-size: 2em;
			}
			li:nth-child(1) .time {
				color: rgba(0,0,0,0);
				text-shadow: none;
			}
			li:nth-child(1) .time::before {
				content: "You're up!";
				color: #ff0;
				animation-name: glow_y;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}
			li:nth-child(2) .time {
				color: rgba(0,0,0,0);
				text-shadow: none;
			}
			li:nth-child(2) .time::before {
				content: "Nearly there!";
				color: #aa0;
			}
		}

		@keyframes slideleft {
			0% {transform: translateX(200vw);}
			100% {transform: translateX(0vw);}
		}
		#playlist_obscured {
			position: absolute;
			bottom: 2vh;
			right: 2vw;
			width: 38vw;
			height: 32vh;
			text-align: center;

			li {
				display: inline-block;
				list-style-type: none;
				margin: 4px;
				@include miniborder;
				max-width: 51%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				right: 0vw;
				animation-name: slideleft;
				animation-duration: 1s;
				animation-delay: 2.0s;
				position: relative;
			}
			li:nth-child(1) {animation-delay: 0.5s;}
			li:nth-child(2) {animation-delay: 0.6s;}
			li:nth-child(3) {animation-delay: 0.7s;}
			li:nth-child(4) {animation-delay: 0.8s;}
			li:nth-child(5) {animation-delay: 0.9s;}
			li:nth-child(6) {animation-delay: 1.0s;}
			li:nth-child(7) {animation-delay: 1.1s;}
			li:nth-child(8) {animation-delay: 1.2s;}
			li:nth-child(9) {animation-delay: 1.3s;}
			li:nth-child(10) {animation-delay: 1.4s;}
			li:nth-child(11) {animation-delay: 1.5s;}
			li:nth-child(12) {animation-delay: 1.6s;}
			li:nth-child(13) {animation-delay: 1.7s;}
		}
		#playlist_obscured::before {
			content: "Coming Soon: ";
			right: -2000px;
			animation-name: slideleft;
			animation-duration: 1s;
			animation-delay: 0.5s;
			position: relative;
		}

		.preview_holder {
			@include border;
			position: absolute;
			top: 26vh;
			height: 40vh;
			width: 38vw;
			right: 2vw;
			animation-name: slideleft;
			animation-duration: 1s;
			animation-delay: 0.0s;

			// if <video> is followed by <small>autoplay in x seconds</small>
			// then make room for that. If <video> is the last element, then
			// no need to make space.
			video {
				width: 100%;
				height: calc(100% - .5em);
			}
			video:last-child {
				height: 100%;
			}

			small {
				display: block;
				width: 100%;
				text-align: center;
			}
		}

		/*---------------------------------------------------------------------------*/
		/* Small-screen tweaks */
		/* Draw a line between 16/10 (widescreen) and 16/12 (4:3) - by default we */
		/* use the default layout, for display areas closer to 4:3 we override bits */
		/*---------------------------------------------------------------------------*/

		@media (max-aspect-ratio: 16/11) {
			#playlist li {
				width: 60vw;
			}
			.preview_holder {
				width: 35vw;
				height: 28vh;
			}
			#playlist_obscured {
				width: 35vw;
				height: 42vh;
			}
		}
	}


	/*---------------------------------------------------------------------------*/
	/* Video */
	/*---------------------------------------------------------------------------*/

	.screen_video {
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		VIDEO {
			width: 100%;
			height: 100%;
		}

		.pimp {
			position: absolute;
			animation-iteration-count: 2;
			animation-direction: alternate;
			animation-duration: 5s;
			text-shadow:
				-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000,
				0 0 5vh #000;
		}
		@keyframes popright {
			0% {transform: translate(200vw);}
			20% {transform: translate(200vw);}
			40% {transform: translate(0vw);}
			100% {transform: translate(0vw);}
		}
		#pimpkk {
			font-size: 10vh;
			top: 5vh;
			right: 5vw;
			animation-name: popright;
		}
		#pimpcontributor {
			font-size: 5vh;
			bottom: 5vh;
			right: -200vw;
			animation-name: popright;
		}

		@keyframes popleft {
			0% {transform: translate(-200vw);}
			20% {transform: translate(-200vw);}
			40% {transform: translate(0vw);}
			100% {transform: translate(0vw);}
		}
		#pimpsong {
			font-size: 5vh;
			bottom: 5vh;
			left: 5vw;
			animation-name: popleft;
		}
	}


	/*---------------------------------------------------------------------------*/
	/* Podium Mode */
	/*---------------------------------------------------------------------------*/

	.screen_podium {
		text-align: center;

		H1 {
			position: absolute;
			top: 1vh;
			left: 1vw;
			right: 1vw;
			height: 20vh;
			font-size: 6vh;

			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			@include border;
		}

		.preview_holder {
			@include border;
			position: absolute;
			top: 22vh;
			left: 1vw;
			right: 1vw;
			bottom: 16vh;
			height: auto;
	
			VIDEO {
				width: 100%;
				height: 100%;
				background: black;
			}
		}

		DIV.startButton,
		DIV.progressBar {
			position: absolute;
			bottom: 1vh;
			left: 1vw;
			right: 1vw;
			height: 14vh;
			font-size: 7vh;
			@include border;
			padding-top: 0;
			background: linear-gradient(
				90deg,
				rgba($DARK, 0.5) 0,
				$LIGHT 50%,
				rgba($DARK, 0.5) 50%
			);
			background-size: 200% 100%;
			// NOTE: keep the time here in sync with the frequency of state updates
			transition: background-position 1s linear;
			SMALL {
				font-size: 3vh;
				display: block;
				padding-bottom: 1vh;
			}
		}
		DIV.startButton {
			SPAN {
				color: #ff0;
				animation-name: glow_y;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-timing-function: linear;
			}
		}
	}
}

.theme-metalghosts-lite {
	// disable background animation
	animation: none;
	.screen_title IMG {
		// disable title screen thumbnail rain
		animation: none;
	}
}
