* {box-sizing: border-box;}
HTML, BODY {
  margin: 0;
  padding: 0;
  user-select: none;
  // to prevent scrolling on iOS
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
MAIN {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.settings {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  DIV {
    flex: 0 0 auto;
    text-align: center;
    z-index: 9999;
    background: white;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: #000 0 0 1em;
    padding: 1em;
    H2 {
      margin: 0;
    }
    INPUT[type="text"], BUTTON {
      width: 100%;
    }
  }
}

#seekbar {
  position: absolute;
  top: 0;
  height: 2vh;
  background: yellow;
  border: 1px solid black;
  border-bottom: 0;
  width: 4px;
}

::cue(v[voice='active']) {
  color: yellow;
}
::cue(v[voice='next']) {
  color: white;
}
.screen_podium ::cue {
	font-size: 2em;
}

@import 'metalghosts';
@import 'original';
