
/* Flash Message */
.flash_message p             {float: left;}
.flash_message .flash_remove {float: right;}

h1,h2,h3,h4,h5,h6 {font-weight: bold;}

HTML.no-video .hide_if_no_html5_video {display: none;}
HTML.video    .hide_if_html5_video    {display: none;}

video {
    width : 100%;
    height: 100%;
}