
/* Flash Message */
.flash_message p             {float: left;}
.flash_message .flash_remove {float: right;}
.flash_messages .status_error {
    background: linear-gradient(#e89496, #e87b7e) repeat scroll 0 0 #e85a5d;
    border: 1px solid #e83c40;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}

#priority_countdown {
    position: absolute;
    right: 0em;
    font-size: 75%;
    font-weight: normal;
    background-color: red;
    color: white;
    padding: 0.25em;
}

h1,h2,h3,h4,h5,h6 {font-weight: bold;}

HTML.no-video .hide_if_no_html5_video {display: none;}
HTML.video    .hide_if_html5_video    {display: none;}

.video_placeholder {
    width : 100%;
}

.track_title {
    text-align: center;
    font-size: 130%;
}
.track_tags {
}

.queue-list {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.queue-list li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
    height: 5em;
}
.queue-list .ui-li-aside {width: 4em;} /* The 'aside' by default takes 50% of the space, for the time remaining we only need a small space */

.queue-grid {margin: 15px -15px; margin-bottom: 0px;} /* jQuery Mobile has a margin of -15px on lists ... this is to put the content below in the corret place */
.queue-grid li {
    float: left;
    margin: -1px -1px -1px -1px;
    padding: 0;
    border: 0;
    
    overflow: hidden;
    position: relative;
    
    
}
.queue-grid li a     {text-decoration: none; text-align: left; display: block; margin: 0;}
.queue-grid li a h3  {color: #2F3E46; overflow: hidden;}
.queue-grid li a p   {color: #2F3E46; overflow: hidden; font-weight: normal;}
.queue-grid li a:nth-child(1) {padding-right: 2em;} 
.queue-grid li a:nth-child(2) {position: absolute; right:0.7em; top:0.75em;}


.queue-grid li img {display: none;}
.queue-grid .ui-li-aside {display: none;}
@media all and (min-width: 20em) {
    .queue-grid li {width: 50%;}
}
@media all and (min-width: 30em) {
    .queue-grid li {width: 33.333%;}
}
@media all and (min-width: 40em) {
    .queue-grid li {width: 25%;}
}
