.settings {
    // RJSF generates forms with fieldsets and legends
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    #root {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .rjsf-array-item {
        .control-label {
            display: none;
        }
        & > DIV:first-child {
            flex: 1 1 auto;
        }
    }

    .control-label,
    LEGEND {
        font-weight: bold;

        // everything is required
        .required {
            display: none;
        }
    }
    .range-view {
        display: none;
    }
    .btn-group {
        margin-top: 0 !important;
    }
    .text-danger {
        color: var(--validation-error);
    }
}
