/* Overall Layout */
* {
    box-sizing: border-box;
}
:root {
    color-scheme: light dark;
}
BODY {
    color: var(--page-fg);
    background: var(--page-bg);
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    user-select: none;
}
A {
    color: inherit;
}

#page {
    position: fixed;
    inset: 0;
    display: flex;
    flex-flow: row;
    gap: 4px;
    background: black;
}

// If there are multiple MAIN elements, only show "main-only"
// content (eg notifications) in the last one
.main-only {
    display: none;
}
MAIN:last-of-type .main-only {
    display: block;
}

MAIN {
    flex: 1;
    display: flex;
    flex-flow: column;
    min-width: 0;
    justify-content: flex-start;

    background: var(--page-bg);

    HEADER {
        display: flex;
        align-items: center;
        background-color: var(--header-bg);
        border-bottom: 1px solid var(--header-border);
        & > A,
        & > DIV {
            display: block;
            width: 2em;
            height: 2em;
        }
        H1 {
            width: 100%;
            font-size: 1.5em;
            flex: 0 1 auto;
            text-align: center;
            margin: 0.5em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        svg {
            font-size: 2em;
        }
    }
    ARTICLE {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
    FOOTER {
        display: flex;
        flex-flow: column;
        gap: 0.5em;
        border-top: 1px solid var(--header-border);
        background-color: var(--header-bg);
        padding-top: 0.5em;
    }
}

/* Common elements */
.flex-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}
H2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}
/* Don't put stuff in iPhone's weird rounded corners */
MAIN {
    HEADER,
    ARTICLE,
    FOOTER {
        padding-left: max(1em, env(safe-area-inset-left));
        padding-right: max(1em, env(safe-area-inset-right));
    }
    HEADER {
        padding-top: env(safe-area-inset-top);
    }
    ARTICLE:last-child {
        padding-bottom: max(0.5em, env(safe-area-inset-bottom));
    }
    FOOTER {
        padding-bottom: max(0.5em, env(safe-area-inset-bottom));
    }
}
