.qr_container {
    display: block;
    width: 100%;
    text-align: center;
}
.qr_code {
    border: 1em solid white;
    width: 75%;
    height: auto;
}

@media print {
    .printableContent P {
        font-size: 20pt;
        text-align: center;
        padding: 3cm 3cm 1cm 3cm;
    }
}
