:root {
    --page-fg: #000;
    --page-bg: #f9f9f9;

    --header-bg: #e9e9e9;
    --header-border: #ddd;

    --input-fg: #000;
    --input-fg-disabled: #aaa;
    --input-bg: #fff;
    --input-light: #eee;
    --input-shade: #999;

    --button-fb: #000;
    --button-bg: #e9e9e9;
    --button-bg-active: #d0d0d0;

    --list-bg: #f9f9f9;
    --list-border: #ddd;
    --list-shadow: #e9e9e9;

    --drag-handle-bg: #f9f9f9a0;

    --notification-ok: #afa;
    --notification-ok-border: #0d0;
    --notification-warning: #ffa;
    --notification-warning-border: #dd0;
    --notification-error: #faa;
    --notification-error-border: #d00;

    --settings-bg: #fff;
    --settings-border: #000;
    --settings-color: #000;

    --drop-target: #f00;
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-fg: #fff;
        --page-bg: #111;

        --header-bg: #333;
        --header-border: #222;

        --input-fg: #000;
        --input-fg-disabled: #888;
        --input-bg: #ddd;
        --input-light: #555;
        --input-shade: #222;

        --button-fg: #ddd;
        --button-bg: #444;
        --button-bg-active: #333;

        --list-bg: #333;
        --list-border: #222;
        --list-shadow: #222;

        --drag-handle-bg: #444;

        --notification-ok: #060;
        --notification-ok-border: #020;
        --notification-warning: #762;
        --notification-warning-border: #220;
        --notification-error: #600;
        --notification-error-border: #200;

        --settings-bg: #222;
        --settings-border: #444;
        --settings-color: #fff;

        --drop-target: #600;
    }
}

/* svg wibbling */
svg:not(.qr_code) {
    path {
        fill: currentColor;
    }
    width: 1em;
    height: 1em;
}
svg.x2 {
    font-size: 2em;
}
P > svg,
LI > svg {
    vertical-align: middle;
}
BUTTON > svg,
SPAN > svg {
    top: 0.125em;
    position: relative;
}
A svg {
    color: var(--page-fg);
}

/* subtitle wibbling */
::cue(v[voice="active"]) {
    color: yellow;
}
::cue(v[voice="next"]) {
    color: white;
}
::cue {
    // font-family: metalghosts, sans-serif;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 1.5em;
}

/* Overall Layout */
* {
    box-sizing: border-box;
}
BODY {
    color: var(--page-fg);
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    user-select: none;
}
.widescreen {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    MAIN:nth-child(1) {
        position: relative;
        flex: 0 0 50%;
        max-width: 50%;
        border-right: 2px solid black;
        .main-only {
            display: none;
        }
    }
    MAIN:nth-child(2) {
        position: relative;
        flex: 0 0 50%;
        max-width: 50%;
        border-left: 2px solid black;
    }
}
MAIN {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    background: var(--page-bg);

    HEADER {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        background-color: var(--header-bg);
        border-bottom: 1px solid var(--header-border);
        padding: 0 5%;
        & > A,
        & > DIV {
            display: block;
            flex: 0 0 auto;
            width: 2em;
            height: 2em;
        }
        H1 {
            width: 100%;
            font-size: 1.5em;
            flex: 0 1 auto;
            text-align: center;
            margin: 0.5em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .upnext {
        background: var(--notification-warning);
        border-bottom: 1px solid var(--notification-warning-border);
        padding: 1em;
        margin: 0;
    }
    .notification {
        position: absolute;
        left: 2em;
        right: 2em;
        top: 4em;
        display: flex;
        align-items: center;
        border-radius: 1em;
        padding: 1em;
        // For some reason even though the notification appears over
        // the top of the video, clicks act as if the video is on top?
        // z-index appears to fix it...
        z-index: 2;
        SPAN {
            flex: 1 1 auto;
        }
        I {
            flex: 0 0 auto;
            padding: 0em 0.5em;
        }
        &.ok {
            background-color: var(--notification-ok);
            border: 1px solid var(--notification-ok-border);
        }
        &.warning {
            background-color: var(--notification-warning);
            border: 1px solid var(--notification-warning-border);
        }
        &.error {
            background-color: var(--notification-error);
            border: 1px solid var(--notification-error-border);
        }
    }
    ARTICLE {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    FOOTER {
        flex: 0 0 auto;
        display: flex;
        flex-flow: column;
        border-top: 1px solid var(--header-border);
        background-color: var(--header-bg);
        padding: 0.3em 5%;

        .already_queued {
            text-align: center;
        }

        .buttons {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            BUTTON,
            .button {
                flex: 1 0;
                margin-left: 0.3em;
                margin-right: 0.3em;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.settings {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    DIV {
        flex: 0 0 auto;
        text-align: center;
        z-index: 9999;
        color: var(--settings-color);
        background: var(--settings-bg);
        border: 2px solid var(--settings-border);
        border-radius: 1em;
        box-shadow: var(--settings-border) 0 0 1em;
        padding: 1em;
        H2 {
            margin: 0;
        }
        INPUT[type="text"],
        BUTTON {
            width: 100%;
        }
    }
}

/* Common elements */
.readme {
    H1 {
        text-align: center;
        font-size: 6vw;
        margin: 0.1em;
    }
    LI {
        margin: 0.5em;
        font-size: 2vw;
    }
}
.flex-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}
H2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}
UL {
    border: 1px solid var(--list-border);
    background-color: var(--list-bg);
    margin: 0.5em 0;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: var(--list-shadow) 2px 2px 4px;
    padding: 0;
    LI {
        display: flex;
        border-bottom: 1px solid var(--list-border);
        padding: 0.75em;
        font-weight: bold;
        align-items: center;
        .thumb {
            height: 4em;
            width: 6em;
            margin: -0.75em;
            margin-right: 0.75em;
            background-size: cover;
            background-position: center;
            border-right: 1px solid var(--list-border);
            flex: 0 0 auto;
            position: relative;
            IMG {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .drag-handle {
                position: absolute;
                top: 1em;
                left: 0;
                bottom: 1em;
                background: var(--drag-handle-bg);
                border: 1px solid var(--list-border);
                border-radius: 0 0.5em 0.5em 0;
                padding: 0.4em 0.4em 0.5em 0.2em;
            }
        }
        SPAN.text {
            flex: 1 1 auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding-right: 0.4em;
        }
        SPAN.count {
            flex: 0 0 auto;
            margin-right: 0.5em;
            border: 1px solid var(--list-border);
            background: var(--page-bg);
            font-size: 0.75em;
            padding: 0.2em 0.4em;
            border-radius: 0.2em;
        }
        SPAN.go_arrow {
            flex: 0 0 auto;
        }
    }
    LI:last-child {
        border-bottom: 0;
    }
}

INPUT[type="text"],
INPUT[type="password"],
BUTTON,
.button {
    font-size: 1em;
    width: 100%;
    margin: 0.25em 0;
    border-radius: 5px;
    padding: 0.5em;
}
A.button {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
INPUT[type="checkbox"] {
    margin: 0.5em;
}
INPUT[type="text"],
INPUT[type="password"] {
    color: var(--input-fg);
    font-weight: bold;
    background: var(--input-bg);
    box-shadow: var(--input-shade) 0px 1px 3px 0px inset;
    border: 1px solid;
    border-color: var(--input-shade) var(--input-light) var(--input-light)
        var(--input-shade);
}
BUTTON,
.button {
    color: var(--button-fg);
    font-weight: bold;
    background: var(--button-bg);
    border: 1px solid;
    border-color: var(--input-light) var(--input-shade) var(--input-shade)
        var(--input-light);

    &:active {
        background: var(--button-bg-active);
        border-color: var(--input-shade) var(--input-light) var(--input-light)
            var(--input-shade);
    }
    &:disabled {
        color: var(--input-fg-disabled);
    }
}
.loading {
    animation: spin 1s linear infinite;
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }
}
.qr_container {
    display: block;
    width: 100%;
    text-align: center;
}
.qr_code {
    border: 1em solid white;
    width: 75%;
    height: auto;
}

/* Login */
// MAIN.login ARTICLE {}

/* Track List */
MAIN.track_list ARTICLE {
    .search {
        margin-top: 1em;
    }
    DIV.active_filter_list {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5em 0;
        .active_filter {
            border: 1px solid var(--list-border);
            background-color: var(--list-bg);
            border-radius: 1em;
            padding: 0.5em;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            max-width: 10em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .remove {
                margin-right: 0.3em;
            }
            // SPAN.name {}
        }
    }
    UL {
        .filter_list_group {
            border-bottom: 1px solid var(--list-border);
            background: var(--list-shadow);
            LI {
                background: var(--list-bg);
            }
            UL {
                margin: 0em 0em 0 1em;
                border-radius: 0;
                border-top: 0;
                border-bottom: 0;
                border-right: 0;
                box-shadow: none;
            }
            LI.add_filter {
                padding-left: 1em;
            }
        }

        LI SPAN.track_info {
            .info {
                font-weight: normal;
            }
        }
    }
}

/* Track Details */
MAIN.track_details ARTICLE {
    VIDEO {
        margin-top: 1em;
        border: 1px solid var(--list-border);
        width: 100%;
    }
    DIV.tags {
        display: flex;
        flex-wrap: wrap;
        DIV.tag {
            flex: 0 0 30%;
            justify-content: space-between;
            margin-bottom: 1em;
            .tag_key {
                font-size: 0.75em;
                font-weight: bold;
            }
            .tag_value {
                padding-left: 0.5em;
            }
        }
    }
    DIV.lyrics {
        user-select: text;
        margin-bottom: 3em;
    }
}

/* Queue */
MAIN.queue ARTICLE {
    .progress_bar {
        margin: 1em 0em 1em 0em;
        height: 1em;
        border: 1px solid #444;
        overflow: hidden;
        white-space: nowrap;
        DIV {
            display: inline-block;
            height: 100%;
        }
        .played {
            background: var(--notification-error);
        }
        .queued {
            background: var(--notification-warning);
        }
        .space {
            background: var(--notification-ok);
        }
    }
    .me {
        background: var(--notification-warning);
    }
    UL LI {
        &.drop_source {
            opacity: 0.5;
        }
        &.drop_target {
            border-top: 5px solid var(--drop-target);
        }
        &.drop_last {
            text-align: center;
            padding: 1em;
        }
        &.public {
            background: var(--notification-warning);
        }
        SPAN.lyrics {
            font-weight: normal;
        }
        SPAN.queue_info {
            .performer {
                font-weight: normal;
            }
        }
    }

    .coming_later {
        text-align: center;
        SPAN::after {
            content: ", ";
        }
        SPAN:last-child::after {
            content: "";
        }
    }
}

@media print {
    .printableContent P {
        font-size: 20pt;
        text-align: center;
        padding: 3cm 3cm 1cm 3cm;
    }
}

/* Don't put stuff in iPhone's weird rounded corners */

MAIN {
    HEADER,
    ARTICLE,
    FOOTER {
        padding-left: max(5%, env(safe-area-inset-left));
        padding-right: max(5%, env(safe-area-inset-right));
    }
    HEADER {
        padding-top: env(safe-area-inset-top);
    }
    ARTICLE:last-child {
        padding-bottom: max(0.3em, env(safe-area-inset-bottom));
    }
    FOOTER {
        padding-bottom: max(0.3em, env(safe-area-inset-bottom));
    }
}
