:root {
    --page-fg: #000;
    --page-bg: #f9f9f9;

    --header-bg: #e9e9e9;
    --header-border: #ccc;

    --input-bg: #fff;
    --input-fg: #000;
    --input-light: #ddd;
    --input-shade: #aaa;

    --button-bg: #eee;
    --button-fg: #000;
    --button-light: #ddd;
    --button-shade: #aaa;

    --list-bg: #f9f9f9;
    --list-border: #ddd;
    --list-shadow: #e9e9e9;

    --drag-handle-bg: #f9f9f9a0;

    --notification-ok: oklch(0.95 0.1 145);
    --notification-warning: oklch(0.98 0.1 110);
    --notification-error: oklch(0.82 0.1 20);

    --drop-target: #f00;
    --validation-error: #d00;

    @media (prefers-color-scheme: dark) {
        --page-bg: #080808;
        --page-fg: #fff;

        --header-bg: #333;
        --header-border: #666;

        --input-bg: #222;
        --input-fg: #ddd;
        --input-light: #666;
        --input-shade: #333;

        --button-bg: #444;
        --button-fg: #ddd;
        --button-light: #666;
        --button-shade: #222;

        --list-bg: #333;
        --list-border: #222;
        --list-shadow: #222;

        --drag-handle-bg: #444;

        --notification-ok: oklch(0.4 0.1 150);
        --notification-warning: oklch(0.5 0.1 95);
        --notification-error: oklch(0.4 0.1 20);

        --drop-target: #600;
        --validation-error: #c44;
    }
}
