// Settings menu should consistently pop up in the center of the screen,
// this is an admin-only feature, it shouldn't be customised by themes
.config {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    DIV {
        flex: 0 0 auto;
        text-align: center;
        z-index: 9999;
        background: white;
        border: 2px solid black;
        border-radius: 1em;
        box-shadow: #000 0 0 1em;
        padding: 1em;
        H2 {
            margin: 0;
        }
        INPUT[type="text"],
        BUTTON {
            width: 100%;
        }
    }
}
