sanic
#sanic-redis  # sanic-redis usese aioredis which is depricated?
#sanic-jwt    #
sanic-openapi

jwt     # can this be replaced with sanic-jwt?
redis
hiredis # c bindings for redis (used automatically if installed)
asyncio-mqtt
