@import 'fontawesome';
@import 'solid';

$FG: #000;
$BORDER: #DDD;
$BG_DARK: #E9E9E9;
$BG_LIGHT: #F9F9F9;
$SHADOW: #AAA;
$INPUT_FG: #000;
$INPUT_BG: #FFF;
$NOTIFICATION_OK: #AFA;
$NOTIFICATION_WARNING: #FFA;
$NOTIFICATION_ERROR: #FAA;
$DISABLED: grey;
$DROP_TARGET: red;

/*
// @media (prefers-color-scheme: dark) {}
$FG: #EEE;
$BORDER: #444;
$BG_DARK: #111;
$BG_LIGHT: #333;
$SHADOW: #666;
$NOTIFICATION: #FFA;
$INPUT_FG: #222;
$INPUT_BG: #EEE;
*/

/* Overall Layout */
* {box-sizing: border-box;}
BODY {
  color: $FG;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  user-select: none;
}
.widescreen {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  MAIN:nth-child(1) {
    position: relative;
    flex: 0 0 50%;
    border-right: 2px solid black;
    .main-only {
      display: none;
    }
  }
  MAIN:nth-child(2) {
    position: relative;
    flex: 0 0 50%;
    border-left: 2px solid black;
  }  
}
MAIN {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  background: $BG_LIGHT;

  HEADER {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    background-color: $BG_DARK;
    border-bottom: 1px solid $BORDER;
    padding: 0 5%;
    A {
      display: block;
      flex: 0 0 auto;
      width: 2em;
      height: 2em;
    }
    H1 {
      width: 100%;
      font-size: 1.5em;
      flex: 0 1 auto;
      text-align: center;
      margin: 0.5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .priority_soon {
    background: $NOTIFICATION_WARNING;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid $BORDER;
  }
  .priority_now {
    background: $NOTIFICATION_OK;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid $BORDER;
  }
  .upnext {
    background: $NOTIFICATION_WARNING;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid $BORDER;
  }
  .notification {
    position: absolute;
    left: 2em;
    right: 2em;
    top: 4em;
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: 1em;
    // For some reason even though the notification appears over
    // the top of the video, clicks act as if the video is on top?
    // z-index appears to fix it...
    z-index: 2;
    SPAN {
      flex: 1 1 auto;
    }
    I {
      flex: 0 0 auto;
      padding: 0em .5em;
    }
    &.ok {
      background-color: $NOTIFICATION_OK;
      border: 1px solid darken($NOTIFICATION_OK, 50);
    }
    &.warning {
      background-color: $NOTIFICATION_WARNING;
      border: 1px solid darken($NOTIFICATION_WARNING, 50);
    }
    &.error {
      background-color: $NOTIFICATION_ERROR;
      border: 1px solid darken($NOTIFICATION_ERROR, 50);
    }
  }
  ARTICLE {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  FOOTER {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    border-top: 1px solid $BORDER;
    background-color: $BG_DARK;
    padding: 0.3em 5%;

    .already_queued {
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      BUTTON {
        flex: 1 0;
        margin-left: .3em;
        margin-right: .3em;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.settings {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  DIV {
    flex: 0 0 auto;
    text-align: center;
    z-index: 9999;
    background: white;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: #000 0 0 1em;
    padding: 1em;
    H2 {
      margin: 0;
    }
    INPUT[type="text"], BUTTON {
      width: 100%;
    }
  }
}

/* Common elements */
.readme {
  H1 {
    text-align: center;
    font-size: 6em;
    margin: 0.1em;
  }
  LI {
    margin: 0.5em;
    font-size: 2em;
  }
}
.flex-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}
H2 {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
UL {
  border: 1px solid $BORDER;
  margin: 0.5em 0;
  border-radius: .5em;
  box-shadow: $BG_DARK 2px 2px 4px;
  padding: 0;
  LI {
    display: flex;
    border-bottom: 1px solid $BORDER;
    padding: 0.75em;
    font-weight: bold;
    align-items: center;
    .thumb {
      background-image: url("data-url:placeholder.svg");
      height: 4em;
      width: 6em;
      margin: -0.75em;
      margin-right: 0.75em;
      background-size: cover;
      background-position: center;
      border-right: 1px solid $BORDER;
      flex: 0 0 auto;
      position: relative;
      PICTURE {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
      }
      .drag-handle {
        position: absolute;
        top: 1em;
        left: 0;
        bottom: 1em;
        background: rgba($BG_LIGHT, .8);
        border: 1px solid $BORDER;
        border-radius: 0 .5em .5em 0;
        padding: .4em .4em .5em .2em;
      }
    }
    SPAN.text {
      flex: 1 1 auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 0.4em;
    }
    SPAN.count {
      flex: 0 0 auto;
      margin-right: 0.5em;
      border: 1px solid $BORDER;
      background: lighten($BG_LIGHT, 10);
      font-size: 0.75em;
      padding: 0.2em 0.4em;
      border-radius: 0.2em;
    }
    SPAN.go_arrow {
      flex: 0 0 auto;
    }
  }
  LI:first-child {
    .thumb:first-child {
      border-top-left-radius: 0.5em;
      overflow: hidden;
    }
  }
  LI:last-child {
    border-bottom: 0;
    .thumb:first-child {
      border-bottom-left-radius: 0.5em;
      overflow: hidden;
    }
  }
}


INPUT[type="text"],
INPUT[type="password"],
BUTTON {
  font-size: 1em;
  width: 100%;
  margin: 0.25em 0;
  border-radius: 5px;
  padding: 0.5em;
}
INPUT[type="checkbox"] {
  margin: 0.5em;
}
INPUT[type="text"],
INPUT[type="password"] {
  color: $INPUT_FG;
  font-weight: bold;
  background: $INPUT_BG;
  box-shadow: darken($INPUT_BG, 40) 0px 1px 3px 0px inset;
  border-top: 1px solid darken($INPUT_BG, 40);
  border-left: 1px solid darken($INPUT_BG, 40);
  border-bottom: 1px solid lighten($INPUT_BG, 40);
  border-right: 1px solid lighten($INPUT_BG, 40);
}
BUTTON {
  color: $FG;
  font-weight: bold;
  background: $BG_DARK;
  border-top: 1px solid lighten($BG_DARK, 40);
  border-left: 1px solid lighten($BG_DARK, 40);
  border-bottom: 1px solid darken($BG_DARK, 40);
  border-right: 1px solid darken($BG_DARK, 40);
}
BUTTON:active {
  background: darken($BG_DARK, 10);
}
BUTTON:disabled {
  color: $DISABLED;
}
.loading {
  animation: spin 1s linear infinite;
  @keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
  }
}
.qr_container {
  display: block;
  width: 100%;
  text-align: center;
}
.qr_code {
  width: 75%;
  image-rendering: pixelated;
}


/* Login */
// MAIN.login ARTICLE {}

/* Track List */
MAIN.track_list ARTICLE {
  .search {
    margin-top: 1em;
  }
  DIV.active_filter_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
    .active_filter {
      border: 1px solid $BORDER;
      border-radius: 1em;
      padding: 0.5em;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
      SPAN.remove {
        margin-right: 0.3em;
      }
      // SPAN.name {}
    }
  }
  UL {
    .filter_list_group {
      border-bottom: 1px solid $BORDER;
      LI.add_filter {
        padding-left: 2em;
      }
    }

    LI SPAN.track_info {
      .info {
        font-weight: normal;

      }
    }
  }
}

/* Track Details */
MAIN.track_details ARTICLE {
  VIDEO {
    margin-top: 5vw;
    border: 1px solid $BORDER;
  }
  .code {
    margin-top: 0;
    text-align: center;
    SPAN {
      font-weight: bold;
    }
  }
  DIV.tags {
    display: flex;
    flex-wrap: wrap;
    DIV.tag {
      flex: 0 0 30%;
      justify-content: space-between;
      margin-bottom: 1em;
      .tag_key {
        font-size: 0.75em;
        font-weight: bold;
      }
      .tag_value {
        padding-left: 0.5em;
      }
    }
  }
  VIDEO {
    width: 100%;
  }
}

/* Queue */
MAIN.queue ARTICLE {
  .me {
    background: $NOTIFICATION_WARNING;
  }
  UL LI {
    &.drop_source {
      display: none;
    }
    &.drop_target {
      border-top: 5px solid $DROP_TARGET;
    }
    &.drop_last {
      text-align: center;
      padding: 1em;
    }
    SPAN.lyrics {
      font-weight: normal;
    }
    SPAN.queue_info {
      .performer {
        font-weight: normal;
      }
    }
  }

  .coming_later {
    text-align: center;
    SPAN::after {content: ", ";}
    SPAN:last-child::after {content: "";}
  }
}

@media print {
  @page {
    size: landscape;
  }
  MAIN {
    position: relative;
    HEADER {
      display: none !important;
    }
    ARTICLE {
      overflow: visible !important;
      column-count: 4;
      font-size: 0.75em;
    }
    FOOTER {
      display: none !important;
    }
  }
}


///////////////////////////////////////////////////////////////////////
// Don't put stuff in iPhone's weird rounded corners

MAIN {
  HEADER {
    padding-top: env(safe-area-inset-top);
    padding-left: Max(5%, env(safe-area-inset-left));
    padding-right: Max(5%, env(safe-area-inset-right));
  }
  ARTICLE {
    padding-left: Max(5%, env(safe-area-inset-left));
    padding-right: Max(5%, env(safe-area-inset-right));
    padding-bottom: env(safe-area-inset-bottom);
  }
  FOOTER {
    padding-left: Max(5%, env(safe-area-inset-left));
    padding-right: Max(5%, env(safe-area-inset-right));
    padding-bottom: Max(0.3em, env(safe-area-inset-bottom));
  }
}
