*.db
*.db-journal
*.egg-info
/env/
/externals/
/data/
/test.ini
/production.ini
/production.inidiff
/development.ini
dependency_downloader.py
dependencys_installed.json
/upload/
.installed_*
*.pot
*.mo
badgenames.*
