# Application ------------------------------------------------------------------
[app:main]
use = egg:KaraKara

# Pyramid ----------------------------------------------------------------------
pyramid.reload_templates    = true
pyramid.debug_authorization = false
pyramid.debug_notfound      = false
pyramid.debug_routematch    = false
pyramid.debug_templates     = true
pyramid.includes =
    pyramid_tm
    #pyramid_debugtoolbar


# i18n -------------------------------------------------------------------------
pyramid.default_locale_name = en
i18n.translation_dirs = %(here)s/locale
i18n.available_languages = [en]

# Karaoke settings -------------------------------------------------------------
karakara.server.mode = development

karakara.system.user.readonly = False -> bool

karakara.event.end                       = -> datetime

karakara.faves.enabled                         = False -> bool

karakara.player.title                          = KaraKara (dev player)
karakara.player.video.preview_volume           =  0.10   -> float
karakara.player.video.skip.seconds             = 20      -> int
karakara.player.queue.update_time              = 0:00:03 -> timedelta
karakara.player.help.timeout                   =  2      -> int
karakara.websocket.disconnected_retry_interval =  5      -> int

karakara.queue.group.split_markers = [0:10:00, 0:20:00] -> timedelta
karakara.queue.track.padding       = 0:00:60 -> timedelta

karakara.queue.add.limit                     = 0:10:00 -> timedelta
karakara.queue.add.limit.priority_token      = 0:00:00 -> timedelta
karakara.queue.add.limit.priority_window     = 0:01:00 -> timedelta
karakara.queue.add.duplicate.track_limit     = 2       -> int
karakara.queue.add.duplicate.time_limit      = 2:00:00 -> timedelta
karakara.queue.add.duplicate.performer_limit = 1       -> int
karakara.queue.add.valid_performer_names = [] -> list

karakara.template.input.performer_name = 
karakara.template.title                = KaraKara (dev)
karakara.template.menu.disable =

karakara.websocket.port = 9873 -> int
karakara.tcp.port       = -> None

karakara.search.view.config = %(here)s/search_config.json
karakara.search.tag.silent_forced = []
karakara.search.tag.silent_hidden = []
karakara.search.template.button.list_tracks.threshold = 100 -> int
karakara.search.list.threshold = 25 -> int
karakara.search.list.alphabetical.threshold = 90 -> int
karakara.search.list.alphabetical.tags = [from, artist]

karakara.print_tracks.fields = [category, from, use, title, artist]
karakara.print_tracks.short_id_length = 4 -> int

# Comunity ---------------------------------------------------------------------

comunity.title = KaraKara.org.uk

upload.route.uploaded = /uploaded/
upload.path = %(here)s/data/upload/


# API --------------------------------------------------------------------------
api.settings.regex = karakara\..*
api.format.default = html
api.search.max_age = 0 -> int

# Static Assets ----------------------------------------------------------------
static.assets = static
static.player = %(here)s/../player
static.source = %(here)s/../mediaserver/www/source
static.meta = %(here)s/../mediaserver/www/meta
static.processed = %(here)s/../mediaserver/www/processed
static.backup = %(here)s/../mediaserver/www/backup

#static.assets = http://staticserver.com/


# Database ---------------------------------------------------------------------
sqlalchemy.url = sqlite:///%(here)s/test.db

# Sessions ---------------------------------------------------------------------
session.cookie_name          = karakara_session
session.secret               = cockNroll
session.salt                 = pyramid.session.
session.timeout              = 86400 -> int
#session.max_age              = 86400 -> int
session.reissue_time         = None -> None

# Templates --------------------------------------------------------------------
mako.directories = karakara:templates

# Login Providers --------------------------------------------------------------

login.automatically_activate_with_single_provider = False -> bool

facebook.appid = 
facebook.secret = 
facebook.permissions = basic_info

login.provider.enabled = []


# Python Server ----------------------------------------------------------------
server.gzip         = False -> bool
server.etag.enabled = False -> bool
server.etag.expire  = day
server.etag.cache_buster = 
server.max_age.default = 0 -> int
server.url = 

# Server -----------------------------------------------------------------------
[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

# Logging -----------------------------------------------------------------------

[loggers]
keys = root, sqlalchemy, karakara, externals, admindashboard

[handlers]
keys = console, logfile, admindashboard

[formatters]
keys = generic, message_only

# Loggers -------------------

[logger_root]
level = INFO
handlers = console

[logger_karakara]
level = DEBUG
handlers =
qualname = karakara

[logger_externals]
level = DEBUG
handlers =
qualname = externals

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

# Log Handlers --------------

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[handler_logfile]
class = FileHandler
args = ('development.log',)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

[formatter_message_only]
format = %(message)s

# Admin Dashboard Logging -------------

[logger_admindashboard]
level = INFO
handlers = admindashboard
qualname = json_log_event

[handler_admindashboard]
class = FileHandler
args = ('%(here)s/../admindashboard/events.log',)
level = NOTSET
formatter = message_only
