pyramid
pyramid_tm
pyramid_mako
SQLAlchemy
zope.sqlalchemy
transaction
waitress
beautifulsoup4
psycopg2-binary
python-dateutil
dogpile.cache
requests
Babel
httpagentparser
humanize
google-api-python-client
oauth2client
#pycrypto  # Considering this inclusion for encrypted cookies
decorator
paho-mqtt
srt

git+https://github.com/calaldees/libs.git@master#egg=calaldees
