.config {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    DIV {
        text-align: center;
        z-index: 9999;
        color: var(--settings-color);
        background: var(--settings-bg);
        border: 2px solid var(--settings-border);
        border-radius: 1em;
        box-shadow: var(--settings-border) 0 0 1em;
        padding: 1em;
        H2 {
            margin: 0;
        }
        INPUT[type="text"],
        BUTTON {
            width: 100%;
        }
        // input type=password triggers password manager / haveibeenpwned
        // extensions - we just want regular text, but visually obscured
        .fakePassword {
            -webkit-text-security: disc;
        }
    }
}
