$DARK: #020F1F;
$MID: #074D5E;
$LIGHT: #29EDF2;

@font-face {
	font-family: metalghosts;
	src: url('../src/skins/metalghosts/Xolonium-Regular.ttf');
	font-weight:400;
}
@mixin border {
	padding: 2vh 2vw;
	background: radial-gradient(rgba($MID, 0.75), rgba($DARK, 0.95));
	border: 1px solid $LIGHT;
	border-radius: 2vh;
}
@mixin miniborder {
	padding: 1vh 1vw;
	background: radial-gradient(rgba($MID, 0.75), rgba($DARK, 0.95));
	border: 1px solid $LIGHT;
	border-radius: 2vh 0 2vh 0;
}

.theme-metalghosts {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	font-family: metalghosts, sans-serif;
	text-shadow:
					-1px -1px 0 #000,
					1px -1px 0 #000,
					-1px 1px 0 #000,
					1px 1px 0 #000;


	/*---------------------------------------------------------------------------*/
	/* Background */
	/*---------------------------------------------------------------------------*/

	background:
		url('../src/skins/metalghosts/background.png'),
		url('../src/skins/metalghosts/perlin.jpg');
	background-size: cover, 200% 200%;
	animation: bgscroll 30s linear infinite;

	@keyframes bgscroll {
		0% {background-position: 0 0, 50% 100%;}
		5% {background-position: 0 0, 65% 97%;}
		10% {background-position: 0 0, 79% 90%;}
		15% {background-position: 0 0, 90% 79%;}
		20% {background-position: 0 0, 97% 65%;}
		25% {background-position: 0 0, 100% 50%;}
		30% {background-position: 0 0, 97% 34%;}
		35% {background-position: 0 0, 90% 20%;}
		40% {background-position: 0 0, 79% 9%;}
		45% {background-position: 0 0, 65% 2%;}
		50% {background-position: 0 0, 50% 0;}
		55% {background-position: 0 0, 34% 2%;}
		60% {background-position: 0 0, 20% 9%;}
		65% {background-position: 0 0, 9% 20%;}
		70% {background-position: 0 0, 2% 34%;}
		75% {background-position: 0 0, 0 49%;}
		80% {background-position: 0 0, 2% 65%;}
		85% {background-position: 0 0, 9% 79%;}
		90% {background-position: 0 0, 20% 90%;}
		95% {background-position: 0 0, 34% 97%;}
		100% {background-position: 0 0, 49% 100%;}
	}

	/*---------------------------------------------------------------------------*/
	/* Common */
	/*---------------------------------------------------------------------------*/

	H1, H2, OL, UL, P {
		margin: 0;
		padding: 0;
	}

	// shared between title and playlist screens
	@keyframes slideup {
		0% {bottom: -2000px;}
		100% {bottom: 1vh;}
	}
	#join_info {
		position: absolute;
		left: 10vw;
		right: 10vw;
		text-align: center;
		@include border;
		color: #BBB;
		font-size: 4vh;
		bottom: -2000px;
		animation-delay: 1s;
		animation: slideup 2s forwards;

		STRONG {
			color: #FF7;
			font-weight: normal;
		}
	}

	@keyframes glow_y {
		0% {color: #ff0;}
		50% {color: #880;}
		100% {color: #ff0;}
	}


	/*---------------------------------------------------------------------------*/
	/* Title Screen Animation */
	/*---------------------------------------------------------------------------*/

	.screen_title {
		overflow: hidden;
		img {
			position: absolute;
			border: 1px solid black;
		}

		H1 {
			@include border;
			position: fixed;
			top: 35vh;
			left: 25vw;
			width: 50vw;
			z-index: 100;
			font-size: 10vh;
			text-align: center;
		}
	}


	/*---------------------------------------------------------------------------*/
	/* Playlist */
	/*---------------------------------------------------------------------------*/

	.screen_preview {
		font-size: 3vh;

		/* main blocks */
		@keyframes slideright {
			0% {left: -200vw;}
			100% {left: 0;}
		}
		#playlist {
			position: absolute;
			top: 2vh;
			left: 2vw;
			right: 2vw;

			/* playlist detail */
			li {
				position: relative;
				list-style-type: none;
				margin-bottom: 2vh;
				@include border;
				height: 12vh;
				width: 57vw;
				animation: slideright 1s forwards;
				left: -2000px;

				img {display: none;}
				p {
					position: absolute;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.performer {
					left: 1vw;
					top: 1vh;
					width: calc(35% - 1vw);
					font-size: 1.8em;
					text-overflow: clip;
				}
				.time {
					left: 1vw;
					bottom: 1vh;
					width: calc(35% - 1vw);
					color: #777;
					font-size: 0.9em;
				}
				.title {
					top: 1vh;
					right: 1vw;
					width: calc(65% - 2vw);
					font-size: 1.8em;
				}
				.from {
					bottom: 1vh;
					right: 1vh;
					width: calc(65% - 2vw);
					color: #aaa;
					font-size: 0.9em;
				}
			}
			li:nth-child(1) {animation-delay: 0.0s;}
			li:nth-child(2) {animation-delay: 0.2s;}
			li:nth-child(3) {animation-delay: 0.3s;}
			li:nth-child(4) {animation-delay: 0.4s;}
			li:nth-child(5) {animation-delay: 0.5s;}
			li:nth-child(6) {animation-delay: 0.6s;}
			li:nth-child(7) {animation-delay: 0.7s;}
			li:nth-child(8) {animation-delay: 0.8s;}
			li:nth-child(9) {animation-delay: 0.9s;}

			li:nth-child(1) {
				width: auto;
				height: 22vh;
				font-size: 2em;
			}
			li:nth-child(1) .time {
				color: rgba(0,0,0,0);
				text-shadow: none;
			}
			li:nth-child(1) .time::before {
				content: "You're up!";
				color: #ff0;
				animation: glow_y 2s infinite;
			}
			li:nth-child(2) .time {
				color: rgba(0,0,0,0);
				text-shadow: none;
			}
			li:nth-child(2) .time::before {
				content: "Nearly there!";
				color: #aa0;
			}
		}

		@keyframes slideleft {
			0% {right: -200vw;}
			100% {right: 0;}
		}
		#playlist_obscured {
			position: absolute;
			bottom: 2vh;
			right: 2vw;
			width: 38vw;
			height: 32vh;
			text-align: center;

			li {
				display: inline-block;
				list-style-type: none;
				margin: 4px;
				@include miniborder;
				max-width: 51%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				right: -2000px;
				animation: slideleft 1s forwards;
				animation-delay: 2.0s;
				position: relative;
			}
			li:nth-child(1) {animation-delay: 0.5s;}
			li:nth-child(2) {animation-delay: 0.6s;}
			li:nth-child(3) {animation-delay: 0.7s;}
			li:nth-child(4) {animation-delay: 0.8s;}
			li:nth-child(5) {animation-delay: 0.9s;}
			li:nth-child(6) {animation-delay: 1.0s;}
			li:nth-child(7) {animation-delay: 1.1s;}
			li:nth-child(8) {animation-delay: 1.2s;}
			li:nth-child(9) {animation-delay: 1.3s;}
			li:nth-child(10) {animation-delay: 1.4s;}
			li:nth-child(11) {animation-delay: 1.5s;}
			li:nth-child(12) {animation-delay: 1.6s;}
			li:nth-child(13) {animation-delay: 1.7s;}
		}
		#playlist_obscured::before {
			content: "Coming Soon: ";
			right: -2000px;
			animation: slideleft 1s forwards;
			animation-delay: 0.5s;
			position: relative;
		}

		@keyframes slideleftwithpad {
			0% {right: -200vw;}
			100% {right: 2vw;}
		}
		.preview_holder {
			@include border;
			position: absolute;
			top: 26vh;
			height: 40vh;
			width: 38vw;
			right: -2000px;
			animation: slideleftwithpad 1s forwards;
			animation-delay: 0.0s;

			video {
				width: 100%;
				height: 100%;
			}
		}

		/*---------------------------------------------------------------------------*/
		/* Small-screen tweaks */
		/* Draw a line between 16/10 (widescreen) and 16/12 (4:3) - by default we */
		/* use the default layout, for display areas closer to 4:3 we override bits */
		/*---------------------------------------------------------------------------*/

		@media (max-aspect-ratio: 16/11) {
			#playlist li {
				width: 60vw;
			}
			.preview_holder {
				width: 35vw;
				height: 28vh;
			}
			#playlist_obscured {
				width: 35vw;
				height: 42vh;
			}
		}
	}


	/*---------------------------------------------------------------------------*/
	/* Video */
	/*---------------------------------------------------------------------------*/

	.screen_video {
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		VIDEO {
			width: 100%;
			height: 100%;
		}
		#seekbar {
			position: absolute;
			bottom: 0;
			height: 10px;
			background: yellow;
			border: 1px solid black;
			border-bottom: 0;
			width: 4px;
		}

		.pimp {
			position: absolute;
			animation-iteration-count: 2;
			animation-direction: alternate;
			animation-duration: 5s;
			text-shadow:
							-1px -1px 0 #000,
							1px -1px 0 #000,
							-1px 1px 0 #000,
							1px 1px 0 #000,
							0 0 5vh #000;
		}
		#pimpkk {
			font-size: 10vh;
			top: 5vh;
			right: -200vw;
			animation-name: popright;
		}
		#pimpcontributor {
			font-size: 5vh;
			bottom: 5vh;
			right: -200vw;
			animation-name: popright;
		}
		@keyframes popright {
			0% {right: -200vw;}
			20% {right: -200vw;}
			40% {right: 5vw;}
			100% {right: 5vw;}
		}

		#pimpsong {
			font-size: 5vh;
			bottom: 5vh;
			left: -200vw;
			animation-name: popleft;
		}
		@keyframes popleft {
			0% {left: -200vw;}
			20% {left: -200vw;}
			40% {left: 5vw;}
			100% {left: 5vw;}
		}

		.lyrics OL {
			position: absolute;
			bottom: 7vh;
			font-size: 7vh;
			width: 100%;
			LI {text-align: center; display: none;}
			.past {color: gray;}
			.present {color: white;}
			.future {color: #880;}
			.present, .present + .future {display: block;}
			LI SPAN {background: black; padding: 0 1vw;}
		}
	}


	/*---------------------------------------------------------------------------*/
	/* Podium Mode */
	/*---------------------------------------------------------------------------*/

	.screen_podium {
		text-align: center;

		H1 {
			position: absolute;
			top: 1vh;
			left: 1vw;
			right: 1vw;
			height: 20vh;
			font-size: 12vh;

			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			@include border;
		}

		.lyrics, .preview_holder {
			@include border;
			position: absolute;
			top: 22vh;
			left: 1vw;
			right: 1vw;
			bottom: 16vh;
			font-size: 7vh;
			OL {
				position: absolute;
				top: 2vh;
				left: 2vw;
				right: 2vw;
				bottom: 2vh;
				overflow: hidden;
				LI {text-align: left;}
				.past {color: gray; display: none;}
				.present {color: white;}
				.future {color: #880;}
			}
			VIDEO {
				width: 100%;
				height: 100%;
				background: black;
			}
		}

		DIV.startButton,
		DIV.progressBar {
			position: absolute;
			bottom: 1vh;
			left: 1vw;
			right: 1vw;
			height: 14vh;
			font-size: 7vh;
			@include border;
			padding-top: 0;
			background: linear-gradient(
				90deg,
				rgba($DARK, 0.5) 0,
				$LIGHT 50%,
				rgba($DARK, 0.5) 50%
			);
			background-size: 200% 100%;
			SMALL {
				font-size: 3vh;
				display: block;
				padding-bottom: 1vh;
			}
		}
		DIV.startButton {
			SPAN {animation: glow_y 2s infinite;}
		}
	}
}
