name: ApiQueue

on:
  push:
    paths:
    - 'api_queue/**'
    - '.github/workflows/api_queue.yml'

jobs:
  publish:
    name: Docker Build
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Test
      run: docker build --target test .
      working-directory: upload
    - name: Build
      run: docker build --target production .
      working-directory: upload
