name: Player3

on:
  push:
    paths:
    - 'player3/**'
    - '.github/workflows/player3.yml'

jobs:
  publish:
    name: Docker Build
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      run: docker build --build-context root=.. .
      working-directory: player3
